<div class="clear"></div>
<div class="module">

	<ul>
	 <%
	    if @page.children.present? 
	      parent_page = @page
	    else
	      parent_page = @page.parent
	    end
	  %>

	<% if @page.children.present? %>
	  <% Refinery::Page.where(parent_id: parent_page.id).each do |menu_item| %>
	    <li> <%= link_to menu_item.title, menu_item %> </li>
	  <% end %>
	<% end %>	
	</ul>

<%=link_to image_tag('left_container/force.png'), "/contact-us" %>
<%=link_to image_tag('left_container/rails.png'), "/contact-us" %>
<%=link_to image_tag('left_container/call.png'), "/contact-us" %>
</div>
<div class="clear"></div>